// $primary-color-1:#6fd4e1;
// $primary-color-2:#b9e7e6;
// $gradient-txt:linear-gradient(to right hsla(224, 16%, 13%,.7), hsla(224, 16%, 13%,.7)) no-repeat;
// $primary-color-3:#e2f4f3;
$g1:hsl(271, 91%, 65%);
$g2:hsl(330, 81%, 60%);
$g3:hsl(0, 84%, 60%);
$txt-color:#111827;
$txt-size-1:16px;
$txt-size-2:18px;
$txt-size-3:25px;
$txt-bold:bold;
$white-color:#ffffff;
$border-color:hsl(271, 91%, 65%);
$btn-radius:10px;
