// $primary-color-1:#6fd4e1;
// $primary-color-2:#b9e7e6;
// $gradient-txt:linear-gradient(to right hsla(224, 16%, 13%,.7), hsla(224, 16%, 13%,.7)) no-repeat;
// $primary-color-3:#e2f4f3;
$g1:#FF005C;
$g2:#7A00FF;
$txt-color:#111827;
$accent:#FEE2E2;
$accent-light:hsl(0, 0%, 98%);
$txt-size-1:15px;
$txt-size-2:16px;
$txt-size-3:20px;
$txt-bold:bold;
$white-color:#ffffff;
$border-color: #7A00FF;
$btn-radius:10px;
