@use '/src/styles/variables' as var;
@use '/src/styles/mixins' as mix;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  @include mix.respond(big-desktop) {
    font-size: var.$txt-size-3;
  }

  @include mix.respond(tab-land) {
    font-size: var.$txt-size-2;
  }

  @include mix.respond(tab-port) {
    font-size: var.$txt-size-2;
  }

  @include mix.respond(phone) {
    font-size: var.$txt-size-1;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  color: var.$txt-color;
}

a {
  font-weight: var.$txt-bold;
  color: var.$txt-color;
}

.gradient-txt {
  background: linear-gradient(-135deg, var.$g1, var.$g2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-btn {
  background: linear-gradient(-135deg, var.$g1, var.$g2);
  border-radius: var.$btn-radius;
  color: var.$white-color;
  font-weight: var.$txt-bold;
}

.custom-form {
  border-radius: var.$btn-radius;
}

.custom-fields {
  label {
    color: var.$txt-color;
  }
}

.custom-inputs {
  font-size: var.$txt-size-2;
  border: 1px solid var.$border-color;
  border-radius: var.$btn-radius;
  color: var.$txt-color;

  &input:focus {
    border: 1px solid var.$border-color;
  }
}


.custom-checkbox {
  input[type="checkbox"] {
    display: none;
  }

  .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid var.$border-color;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
  }

  input[type="checkbox"]:checked+.checkmark {
    background-color: #ec4899;
    border-color: #ec4899;
  }

  input[type="checkbox"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}


.custom-hr {
  background-color: hsla(271, 91%, 65%, .4);
  border: 1px solid hsla(271, 71%, 84%, 0.4);
}

.bg-accent{
  background-color: var.$accent;
  box-shadow: 0 6px 20px hsla(0, 0%, 0%, .15);
  transition: all .5s ease;
}

.bg-accent-light{
  background-color: var.$accent-light;
}