@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toastEnter {
  0% {
    transform: translatey(-100%);
    opacity: 0;
  }
  10% {
    transform: translatey(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-toast-enter {
  animation: toastEnter 3s ease-out forwards;
}
